
body {
    margin: 0;
  }
  
  .bOzksV {
    width: 59% !important;
    height: 69%;
    margin: 0;
  }
  
  #PreviewCanvas{
    padding-top: 70px;
    width: 500px!important;
      height: 380px!important;
  }
  .ezfAoo {
    padding-bottom: 40px!important;
  }
  
  .bmKmDw{
    bottom: 474px;
    padding-left: 52px;
    width: 50%;
  }